@charset "utf-8";
*
{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	font-family:sans-serif;
	font-weight: normal;
	direction: ltr;
}
a{
	text-decoration: none;
}
body
{
	background-color: #d4ebff;
	background-image: url("../images/bg.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	font-family:Arial, Helvetica, sans-serif;
	direction: rtl;	
	text-align: justify;
}
.heading
{
	direction: rtl;
	background:rgba(246, 251, 253, 0.8);
	color:rgb(119, 112, 103);
	font-size: 30px;
	text-align: right;
	text-indent: .5cm;
	padding-bottom: 5px;
}
/***********************************************container***********************************************************************/
.container
{
	display: grid;
	grid-template-columns:  1fr;
	gap: 10px;
    align-items: center;
	justify-items: center;
}

.btn:active,
.btn:focus {
	background-color: #d6d6d6 !important; /* Green */
	color: #666 !important;
}

/***********************************************contentlist***********************************************************************/
.container .contentlist
{
	position:fixed;
	top: 10px;
	right: 5px;
	background:rgb(255, 255, 255,.9);
	height: 95vh;
	overflow-y: scroll;	
	border-radius: 8px;
	opacity: 1;
	transform: translateX(100%);
	transition: .5s ease;
	direction: rtl;
	z-index:1;
}
.container .contentlist::-webkit-scrollbar
{
	width: 15px;
}

.container .contentlist::-webkit-scrollbar-track
{
	background: #ccc;
	border-radius: 50px;
}
.container .contentlist::-webkit-scrollbar-thumb
{
	background: #666;
	border-radius: 50px;
	cursor: pointer;
}
/***********************************************contentlist btn***********************************************************************/
.img-btn
{
	height: 60px;
	width: 60px;
}
.dropdown-menu {
	width: 100%; /* Takes full container width */
	max-width: 500px; /* Adjust to fit your design */
  }

.dropdown-item, #btnpretest, #btnposttest, #chat ,#aibutton {
	text-align: right;
	display: flex;
	flex-direction: row-reverse; /* Icon after text */
	align-items: center;
	gap: 10px; /* Space between text and icon */
  }
  .dropdown-item.active, .dropdown-item:active {
	background-color: #bbbbbb !important; /* Change to your desired color */
	color: white !important; /* Text color */
  }
/**********************************************buttons user************************************************************/
  .user{
	position: fixed;
	top: 10px;
	left: 5px;
	outline: none;
	border: none;
	height: 60px;
	width: 60px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-image: url("../images/user.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s ease;
	z-index:2;
  }
  .menu{
	position: fixed;
	top: 10px;
	right: 5px;
	outline: none;
	border: none;
	height: 60px;
	width: 60px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-image: url("../images/menu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
	transition: all 0.5s ease;
	z-index:2;
  }
/**********************************************show-hide************************************************************/
.user.close{
    transform: translateX(var(--menu-width)) rotate(360deg);
	transition: 0.5s ease;
	background-image: url("../images/close.png");
	z-index:2;
  }

.menu.close{
    transform: translateX(calc(-1* var(--menu-width)) ) rotate(-360deg);
	transition: 0.5s ease;
	background-image: url("../images/close.png");
	z-index:2;
  }

.container .contentlist.show
  {
	opacity: 1;
	transform: translate(0%);
	z-index:1;
  }


  /**********************************************elements************************************************************/
.container .main-video video {
    width: auto;
    max-width: 100%; /* Ensures responsiveness */
    height: 88vh;
    border-radius: 5px;
}

.container .main-video .title
{
	color:rgb(0, 0, 0);
	background:rgb(255, 255, 255,.2);
	text-align: center;
}


#formFrame, .youtube iframe
{
	width:85%;
	height:90%;
	border: none;
}
  .eleframe ,.youtube
  {
	width: 100%;
	position: fixed;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
  }
  .eleframe.show,.youtube.show,.container .main-video.show
{
	transform: translate(0%);
	opacity: 1;
}

.container .main-video.close
{
	transform: translate(0%);
	opacity: 0;
}

  .hidden {
	width: 100%;
	position: fixed;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background:rgb(255, 255, 255,.5);
	transform: translateX(100%);  
}
/***********************************************mobile***********************************************************************/
@media (max-width: 991px) 
{
	.container
	{
		grid-template-columns: 1fr;
		padding: 10px;
	}

	.container .main-video video
	{
		width: 100%;
		height: 75vh;
		border-radius: 5px;
	}

	.user, .menu
	{
		width: 50px;
		height: 50px;
	}

	.youtube iframe , .eleframe iframe
	{
		width: 100%;
		height: 100vh;
	}
}

@media (max-width: 768px) 
{
	.container
	{
		grid-template-columns: 1fr;
	}

	.container .main-video video
	{
		width: 100%;
		height: 75vh;
		border-radius: 5px;
	}
	.youtube iframe , .eleframe iframe
	{
		width: 100%;
		height: 100vh;

	}
}

@media only screen and (max-width: 768px)
{
	body
	{
		font-size: small;
	}
}



